<!DOCTYPE html>
<html>
<head>
<title>About It</title>
</head>
<body>

<h1 align="center">About the Party!</h1>
</br>
</br>
<p>
  <center><%= image_tag 'pandamonium.gif' %></center>
  </br>
  <%= link_to 'Home', root_path %>
  </br>
  This is quite the about page.
  </br>
  Some breaks, and some other thing. Look at the pretty pictures.
  </br>
  </br>
  <center><%= image_tag 'crowkick.gif' %></center>
</p>
</body>
</html>