<!DOCTYPE html>
<html>
<head>
<title>My Homepage</title>
</head>
<body>

<h1 align="center">Welcome to the Party!</h1>
</br>
</br>
<p>
  <center><%= image_tag 'bill-murray-killer-whale.gif' %></center>
  </br>
  <%= link_to 'About', about_path %> |
  <%= link_to 'Alpha Blog', articles_path %>
  </br>
  Let's add some things to this page. Time to make a quick and dirty example.
  
</p>
</body>
</html>